.m10 {
	margin: 10px;
}
.mv10 {
	margin-left: 10px;
	margin-right: 10px;
}
.mh10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.mt10 {
	margin-top: 20px;
}
.mr10 {
	margin-right: 10px;
}
.mb10 {
	margin-bottom: 10px;
}
.ml10 {
	margin-left: 10px;
}
.m20 {
	margin: 20px;
}
.mv20 {
	margin-left: 20px;
	margin-right: 20px;
}
.mh20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.mt20 {
	margin-top: 20px;
}
.mr20 {
	margin-right: 20px;
}
.mb20 {
	margin-bottom: 20px;
}
.ml20 {
	margin-left: 20px;
}